
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.input-container {
    display: flex;
    margin-bottom: 20px;
}

.input-container input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
}

.input-container button {
    padding: 10px 15px;
    background-color: #007bff;
    border: none;
    border-radius: 0 5px 5px 0;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.input-container button:hover {
    background-color: #0056b3;
}

.list-container {
    margin-bottom: 20px;
}

.task-box {
    list-style-type: none;
    padding: 0;
}

.task {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.task p {
    margin: 0;
    flex: 1;
    padding-left: 10px;
}
.task label {
    display: flex;
    align-items: center;
}

.task label input[type="checkbox"] {
    margin-right: 10px;
}

.task p {
    margin: 0;
    flex: 1;
   
}


.settings {
    position: relative;
}

.task-menu {
    position: absolute;
    top: 20px;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 5px 0;
    display: none;
}

.task-menu li {
    list-style-type: none;
    padding: 5px 10px;
    cursor: pointer;
}

.task-menu li:hover {
    background-color: #f4f4f4;
}

.overflow {
    max-height: 300px;
    overflow-y: auto;
}

.buttons-container {
    display: flex;
    justify-content: center;
}

.buttons-container button {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttons-container button.active {
    background-color: #007bff;
    color: #fff;
}

.buttons-container button:hover {
    background-color: #0056b3;
}

.delete-button {
    margin-left: auto;
}
